# {{ ansible_managed }}
# Shorewall -- /etc/shorewall/snat
#
# For information about entries in this file, type "man shorewall-snat"
#
# See http://shorewall.net/manpages/shorewall-snat.html for more information
#
###########################################################################################################################################
#ACTION			SOURCE			DEST		PROTO	PORT	IPSEC	MARK	USER	SWITCH	ORIGDEST	PROBABILITY

{% for i in shorewall_snat %}
{{ i.action }} {{ i.source | default('-') }} {{ i.dest | default('-') }} {{ i.proto | default('-') }} {{ i.port | default('-') }} {{ i.ipsec | default('-') }} {{ i.mark | default('-') }} {{ i.user | default('-') }} {{ i.origdest | default('-') }} {{ i.probability | default('-') }}
{% endfor %}
