###############################################################################
# {{ ansible_managed }}
#
#  Shorewall Version 5 -- /etc/shorewall6/shorewall6.conf
#
#  For information about the settings in this file, type "man shorewall6.conf"
#
#  Manpage also online at
#  http://www.shorewall.net/manpages6/shorewall6.conf.html
###############################################################################
#		       S T A R T U P   E N A B L E D
###############################################################################

STARTUP_ENABLED={{ shorewall6_conf.startup_enabled | default('Yes') }}

###############################################################################
#			     V E R B O S I T Y
###############################################################################

VERBOSITY={{ shorewall6_conf.verbosity | default('1') }}

###############################################################################
#			        P A G E R
###############################################################################

PAGER={{ shorewall6_conf.pager | default('') }}

###############################################################################
#			     F I R E W A L L
###############################################################################

FIREWALL={{ shorewall6_conf.firewall | default('') }}

###############################################################################
#			       L O G G I N G
###############################################################################

LOG_LEVEL={{ shorewall6_conf.log_level | default('"info"') }}

BLACKLIST_LOG_LEVEL={{ shorewall6_conf.blacklist_log_level | default('') }}

INVALID_LOG_LEVEL={{ shorewall6_conf.invalid_log_level | default('') }}

LOG_BACKEND={{ shorewall6_conf.log_backend | default('') }}

LOG_VERBOSITY={{ shorewall6_conf.log_verbosity | default('2') }}

LOG_ZONE={{ shorewall6_conf.log_zone | default('Both') }}

LOGALLNEW={{ shorewall6_conf.logallnew | default('') }}

LOGFILE={{ shorewall6_conf.logfile | default('/var/log/messages') }}

LOGFORMAT={{ shorewall6_conf.logformat | default('"%s %s "') }}

LOGLIMIT={{ shorewall6_conf.loglimit | default('"s:1/sec:10"') }}

LOGTAGONLY={{ shorewall6_conf.logtagonly | default('No') }}

MACLIST_LOG_LEVEL={{ shorewall6_conf.maclist_log_level | default('"$LOG_LEVEL"') }}

RELATED_LOG_LEVEL={{ shorewall6_conf.related_log_level | default('') }}

RPFILTER_LOG_LEVEL={{ shorewall6_conf.rpfilter_log_level | default('"$LOG_LEVEL"') }}

SFILTER_LOG_LEVEL={{ shorewall6_conf.sfilter_log_level | default('"$LOG_LEVEL"') }}

SMURF_LOG_LEVEL={{ shorewall6_conf.smurf_log_level | default('"$LOG_LEVEL"') }}

STARTUP_LOG={{ shorewall6_conf.startup_log | default('/var/log/shorewall6-init.log') }}

TCP_FLAGS_LOG_LEVEL={{ shorewall6_conf.tcp_flags_log_level | default('"$LOG_LEVEL"') }}

UNTRACKED_LOG_LEVEL={{ shorewall6_conf.untracked_log_level | default('') }}

###############################################################################
#	L O C A T I O N	  O F	F I L E S   A N D   D I R E C T O R I E S
###############################################################################

CONFIG_PATH={{ shorewall6_conf.config_path | default('":${CONFDIR}/shorewall6:/usr/share/shorewall6:${SHAREDIR}/shorewall"') }}

GEOIPDIR={{ shorewall6_conf.geoipdir | default('/usr/share/xt_geoip/LE') }}

IP6TABLES={{ shorewall6_conf.ip6tables | default('') }}

IP={{ shorewall6_conf.ip | default('') }}

IPSET={{ shorewall6_conf.ipset | default('') }}

LOCKFILE={{ shorewall6_conf.lockfile | default('') }}

MODULESDIR={{ shorewall6_conf.modulesdir | default('') }}

NFACCT={{ shorewall6_conf.nfacct | default('') }}

PERL={{ shorewall6_conf.perl | default('/usr/bin/perl') }}

PATH={{ shorewall6_conf.path | default('"/sbin:/bin:/usr/sbin:/usr/bin:/usr/local/bin:/usr/local/sbin"') }}

RESTOREFILE={{ shorewall6_conf.restorefile | default('restore') }}

SHOREWALL_SHELL={{ shorewall6_conf.shorewall_shell | default('/bin/sh') }}

SUBSYSLOCK={{ shorewall6_conf.subsyslock | default('""') }}

TC={{ shorewall6_conf.tc | default('') }}

###############################################################################
#		D E F A U L T   A C T I O N S / M A C R O S
###############################################################################

ACCEPT_DEFAULT={{ shorewall6_conf.accept_default | default('"none"') }}
BLACKLIST_DEFAULT={{ shorewall6_conf.blacklist_default | default('"AllowICMPs,Broadcast(DROP),Multicast(DROP),dropNotSyn:$LOG_LEVEL,dropInvalid:$LOG_LEVEL,DropDNSrep:$LOG_LEVEL"') }}
DROP_DEFAULT={{ shorewall6_conf.drop_default | default('"AllowICMPs,Broadcast(DROP),Multicast(DROP)"') }}
NFQUEUE_DEFAULT={{ shorewall6_conf.nfqueue_default | default('"none"') }}
QUEUE_DEFAULT={{ shorewall6_conf.queue_default | default('"none"') }}
REJECT_DEFAULT={{ shorewall6_conf.reject_default | default('"AllowICMPs,Broadcast(DROP),Multicast(DROP)"') }}

###############################################################################
#			 R S H / R C P	C O M M A N D S
###############################################################################

RCP_COMMAND={{ shorewall6_conf.rcp_command | default("\'scp ${files} ${root}@${system}:${destination}\'") }}
RSH_COMMAND={{ shorewall6_conf.rsh_command | default("\'ssh ${root}@${system} ${command}\'") }}

###############################################################################
#			F I R E W A L L	  O P T I O N S
###############################################################################

ACCOUNTING={{ shorewall6_conf.accounting | default('Yes') }}

ACCOUNTING_TABLE={{ shorewall6_conf.accounting_table | default('filter') }}

ADMINISABSENTMINDED={{ shorewall6_conf.adminisabsentminded | default('Yes') }}

AUTOCOMMENT={{ shorewall6_conf.autocomment | default('Yes') }}

AUTOHELPERS={{ shorewall6_conf.autohelpers | default('Yes') }}

AUTOMAKE={{ shorewall6_conf.automake | default('Yes') }}

BALANCE_PROVIDERS={{ shorewall6_conf.balance_providers | default('No') }}

BASIC_FILTERS={{ shorewall6_conf.basic_filters | default('No') }}

BLACKLIST={{ shorewall6_conf.blacklist | default('"NEW,INVALID,UNTRACKED"') }}

CLAMPMSS={{ shorewall6_conf.clampmss | default('No') }}

CLEAR_TC={{ shorewall6_conf.clear_tc | default('No') }}

COMPLETE={{ shorewall6_conf.complete | default('No') }}

DEFER_DNS_RESOLUTION={{ shorewall6_conf.defer_dns_resolution | default('Yes') }}

DELETE_THEN_ADD={{ shorewall6_conf.delete_then_add | default('Yes') }}

DONT_LOAD={{ shorewall6_conf.dont_load | default('') }}

DYNAMIC_BLACKLIST={{ shorewall6_conf.dynamic_blacklist | default('Yes') }}

EXPAND_POLICIES={{ shorewall6_conf.expand_policies | default('Yes') }}

EXPORTMODULES={{ shorewall6_conf.exportmodules | default('Yes') }}

FASTACCEPT={{ shorewall6_conf.fastaccept | default('No') }}

FORWARD_CLEAR_MARK={{ shorewall6_conf.forward_clear_mark | default('Yes') }}

HELPERS={{ shorewall6_conf.helpers | default('') }}

IGNOREUNKNOWNVARIABLES={{ shorewall6_conf.ignoreunknownvariables | default('No') }}

IMPLICIT_CONTINUE={{ shorewall6_conf.implicit_continue | default('No') }}

IPSET_WARNINGS={{ shorewall6_conf.ipset_warnings | default('Yes') }}

IP_FORWARDING={{ shorewall6_conf.ip_forwarding | default('Keep') }}

KEEP_RT_TABLES={{ shorewall6_conf.keep_rt_tables | default('Yes') }}

MACLIST_TABLE={{ shorewall6_conf.maclist_table | default('filter') }}

MACLIST_TTL={{ shorewall6_conf.maclist_ttl | default('') }}

MANGLE_ENABLED={{ shorewall6_conf.mangle_enabled | default('Yes') }}

MARK_IN_FORWARD_CHAIN={{ shorewall6_conf.mark_in_forward_chain | default('No') }}

MINIUPNPD={{ shorewall6_conf.miniupnpd | default('No') }}

MUTEX_TIMEOUT={{ shorewall6_conf.mutex_timeout | default('60') }}

OPTIMIZE={{ shorewall6_conf.optimize | default('All') }}

OPTIMIZE_ACCOUNTING={{ shorewall6_conf.optimize_accounting | default('No') }}

PERL_HASH_SEED={{ shorewall6_conf.perl_hash_seed | default('0') }}

REJECT_ACTION={{ shorewall6_conf.reject_action | default('') }}

RENAME_COMBINED={{ shorewall6_conf.rename_combined | default('Yes') }}

REQUIRE_INTERFACE={{ shorewall6_conf.require_interface | default('No') }}

RESTART={{ shorewall6_conf.restart | default('restart') }}

RESTORE_DEFAULT_ROUTE={{ shorewall6_conf.restore_default_route | default('Yes') }}

RESTORE_ROUTEMARKS={{ shorewall6_conf.restore_routemarks | default('Yes') }}

SAVE_IPSETS={{ shorewall6_conf.save_ipsets | default('No') }}

TC_ENABLED={{ shorewall6_conf.tc_enabled | default('Shared') }}

TC_EXPERT={{ shorewall6_conf.tc_expert | default('No') }}

TC_PRIOMAP={{ shorewall6_conf.tc_priomap | default('"2 3 3 3 2 3 1 1 2 2 2 2 2 2 2 2"') }}

TRACK_PROVIDERS={{ shorewall6_conf.track_providers | default('Yes') }}

TRACK_RULES={{ shorewall6_conf.track_rules | default('No') }}

USE_DEFAULT_RT={{ shorewall6_conf.use_default_rt | default('Yes') }}

USE_NFLOG_SIZE={{ shorewall6_conf.use_nflog_size | default('No') }}

USE_PHYSICAL_NAMES={{ shorewall6_conf.use_physical_names | default('No') }}

USE_RT_NAMES={{ shorewall6_conf.use_rt_names | default('No') }}

VERBOSE_MESSAGES={{ shorewall6_conf.verbose_messages | default('Yes') }}

WARNOLDCAPVERSION={{ shorewall6_conf.warnoldcapversion | default('Yes') }}

WORKAROUNDS={{ shorewall6_conf.workarounds | default('No') }}

ZERO_MARKS={{ shorewall6_conf.zero_marks | default('No') }}

ZONE2ZONE={{ shorewall6_conf.zone2zone | default('-') }}

###############################################################################
#			P A C K E T   D I S P O S I T I O N
###############################################################################

BLACKLIST_DISPOSITION={{ shorewall6_conf.blacklist_disposition | default('DROP') }}

INVALID_DISPOSITION={{ shorewall6_conf.invalid_disposition | default('CONTINUE') }}

MACLIST_DISPOSITION={{ shorewall6_conf.maclist_disposition | default('REJECT') }}

RELATED_DISPOSITION={{ shorewall6_conf.related_disposition | default('ACCEPT') }}

SFILTER_DISPOSITION={{ shorewall6_conf.sfilter_disposition | default('DROP') }}

RPFILTER_DISPOSITION={{ shorewall6_conf.rpfilter_disposition | default('DROP') }}

SMURF_DISPOSITION={{ shorewall6_conf.smurf_disposition | default('DROP') }}

TCP_FLAGS_DISPOSITION={{ shorewall6_conf.tcp_flags_disposition | default('DROP') }}

UNTRACKED_DISPOSITION={{ shorewall6_conf.untracked_disposition | default('CONTINUE') }}

################################################################################
#			P A C K E T  M A R K  L A Y O U T
################################################################################

TC_BITS={{ shorewall6_conf.tc_bits | default('') }}

PROVIDER_BITS={{ shorewall6_conf.provider_bits | default('') }}

PROVIDER_OFFSET={{ shorewall6_conf.provider_offset | default('') }}

MASK_BITS={{ shorewall6_conf.mask_bits | default('') }}

ZONE_BITS={{ shorewall6_conf.zone_bits | default('0') }}

#LAST LINE -- DO NOT REMOVE
